<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SignNow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal - v4.8.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">(SignNow email)</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>(SignNow number)</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.facebook.com/signnow.ltd/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://instagram.com/signnow_international?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/sign-now1" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1>Sign<span>Now</span></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('home') }}">English page</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('home_a') }}">Arabic page</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('home_h') }}"> עמוד בעברית </a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      <h2>المساواة لمجتمع الصم في العالم.<br><span>  فوراً.<span></h2>

    </div>

    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/1.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/2.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/3.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/4.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/5.jpg');"></div>
      </div>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="static/assets/img/about-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>So, what is signNow? </h2>
            <h3>In signNow, we strive to bridge the gap between deaf and non deaf people from all around the globe. How do we do it? We have developed an app that connect the users with a sign language interpretors that can provide real time translations</h3><br>
            <h2> لماذا نحن؟ </h2>

            <ul>
              <li><i class="bi bi-check-circle"></i> مزيج من التكنولوجيا واللمسة البشرية فيما يتعلق بترجمة لغة الإشارة. ترجمة لغة الإشارة هي واحدة من المجالات الوحيدة التي تكون فيها اللمسة الإنسانية أكثر أهمية من التكنولوجيا ذات الصلة</li>
              <li><i class="bi bi-check-circle"></i> 
تجربة مستخدم متاحة لجميع فئات الأشخاص الصم: كبار السن والصم المكفوفون وغيرهم. استعمال الحد الأدنى من النقرات.</li>
              <li><i class="bi bi-check-circle"></i> 
الحد الأدنى من البيروقراطية. نتمنى أن نتمكن من تبديل "الحد الأدنى" إلى "صفر"
</li>
              <li><i class="bi bi-check-circle"></i> 
مجانًا للمستخدمين الصم - بفضل نماذج الأعمال B2B و B2G الخاصة بنا.</li>
<li><i class="bi bi-check-circle"></i> 
جميع لغات الإشارة - نربط الصم المحليين بالمترجم المحلي

</li>

            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>أهدافنا على مستوى التأثير العالمي</h2>
          <p>من خلال قياس تأثيرنا الاجتماعي ، نتعلم ونتكيف وننمو.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h4 class="title">Bridging the gap</h4>
              <p class="description">We aim to bridge the gap that exists between deaf and non people using the help of our app.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <h4 class="title">Good Health and Well Being</h4>
              <p class="description">Stabilize the deaf sign language speaking community, which constitutes 1.25% of the world's population, as an integral part of the global community entitled to receive real-time accessible services for effective, accessible and independent conduct.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h4 class="title">Sustainable Community</h4>
              <p class="description">Position and assisting the deaf community to become a stable and proud community, capable of standing on its own two feet and contributing more to the general public.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our partnerships</h2>
        </div>

        <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-9.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-10.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-11.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-12.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-13.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-14.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-15.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-16.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>The numbers speak for themselves</h2>
        </div>
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="static/assets/img/meta-chart.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>
ما يقارب 90 مليون أصم يبدأون حياتهم في وضع غير مؤات نظراً لأن غالبية الناس الذين يسمعون ليسوا على دراية بلغة الصم – لغة الإشارة.</h2>

          </div>
        </div>





        </div>
  <h2> These numbers are astonishing. Because of that, we developed the SignNow app. To help even out the numbers and bring equality to the deaf community now.</h2>
      </div>
      <br><br>
  
    </section><!-- End About Section -->


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

         

      </div>
    </section><!-- End Portfolio Section -->


<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>تطبيقنا</h2>
        </div>
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="static/assets/img/app.webp" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>
<br>
تطبيق Sign Now هو تقنية قائمة على الخدمة تربط بين مجتمع الصم ومترجمي لغة الإشارة.
نحن نقدم مجموعة متنوعة من خيارات مكالمات الفيديو بما في ذلك معاودة الاتصال والمكالمات عند الطلب والمكالمات المجدولة مسبقًا ، وكل ذلك مع الحد الأدنى من النقرات. والميزة المميزة - أنها مجانية لمجتمع الصم من خلال نماذج الأعمال B2B و B2G الخاصة بنا.
بعد بحث مكثف ومتعمق ، نجحنا في تحسين وتحديد احتياجات المستخدمين الصم لدينا.

</h2>

          </div>
        </div>

    </section><!-- End About Section -->


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

         

      </div>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Life experiances</h2>
          <p>In sign now, it is important for us to read our user's valuable story, in order to make our app the best possible. Below, you can read other people's story as well as add your own.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
{%for i in stories_a%}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>
                  <img src="static/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  {{stories_a[i]['text_a']}}
                  <img src="static/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </h3>

                <h4>{{stories_a[i]['name_a']}}</h4>
                <br>
                <p>{{stories_a[i]['email_a']}}</p>
              </div>
              {%endfor%}
            </div><!-- End testimonial item -->



          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= story ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Tell us your story</h3>
            <form action="/new_story_a" method="POST"  class="php-email-form">
                
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name_a" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email_a" id="email" placeholder="Your Email" required>
              </div>
            </div>

            <div class="form-group mt-3">
              <input class="form-control" name="text_a" rows="5" placeholder="Message" required>

               <br>
               <br>
            <input type="submit" value="Submit">
            </div> 


             
          </form>
          </div>

        </div>
      </div>
    </section><!-- End story -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-1.jpg" alt=""></div>
              <div class="details">
                <h4>Tomer Levi</h4>
                <span>COO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-2.jpg" alt=""></div>
              <div class="details">
                <h4>Hila Almog</h4>
                <span>CEO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-3.jpg" alt=""></div>
              <div class="details">
                <h4>Avishi Wiessman</h4>
                <span>CTO</span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-4.jpg" alt=""></div>
              <div class="details">
                <h4>Asaf Hezkeyahu</h4>
                <span>Senior SW Developer</span>

              </div>
            </div>
          </div>
        </div>
         <div  class="row">
                  <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-5.jpg" alt=""></div>
              <div class="details">
                <h4>Shirley Pinker</h4>
                <span>Marketing Maneger</span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-6.jpg" alt=""></div>
              <div class="details">
                <h4>Shay Soder</h4>
                <span>Innovetion and Interpreters Lead</span>

              </div>
            </div>
          </div>
        </div>



      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>تواصل معنا</h2>
          <p>With each feedback you send us, our product improves.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>(SignNow Address)</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="">(SignNow number)</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="">(SignNow email)</a></p>
            </div>
          </div>

        </div>
      </div>



    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; 2022 <strong>Sign Now Tech Solutions</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
      -->

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/assets/js/main.js"></script>

</body>

</html>