<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SignNow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal - v4.8.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">(SignNow email)</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>(SignNow number)</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.facebook.com/signnow.ltd/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://instagram.com/signnow_international?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/sign-now1" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1>Sign<span>Now</span></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('home') }}">English page</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('home_a') }}">Arabic page</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('home_h') }}">עמוד בעברית</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      <h2>שוויון לקהילה החירשת.<br><span> עכשיו.<span></h2>

    </div>

    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/1.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/2.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/3.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/4.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/5.jpg');"></div>
      </div>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="static/assets/img/about-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>?אז מה אנחנו עושים </h2>
            <h3> הרצון המרכזי שלנו הוא לגשר את הפער בין אנשים חירשם ואנשים לא חירשים מסביב לעולם, איך נעשה את זה? אנחנו פיתחנו אפליקציה שמחברת את המשתמשים עם מתורגמנים של .שפת הסימנים שיכולים לספק תרגום בזמן אמת</h3><br>
            <h2> ?אז למה אנחנו </h2>

            <ul>
              <li><i class="bi bi-check-circle"></i>  .השילוב של טכנולוגיה ומגע אנושי בהקשר של שפת הסימנים. תרגום שפת הסימנים הוא בין הנושאים היחידים שבו המגע האנושי חשוב יותר מהטכנולוגיה הקשורה בו</li>
              <li><i class="bi bi-check-circle"></i> 
 .חווית משתמש נגישה בכל הקטגוריות של אנשים חירשים: מבוגרים, חירשים ועוורים ועוד. מינימום קליקים מעורבים</li>
              <li><i class="bi bi-check-circle"></i> 
 .כל מה שהקהילה החירשה צריכה במקום אחד</li>
              <li><i class="bi bi-check-circle"></i> 
 .חינם לכל המשתמשים החירשם</li>
<li><i class="bi bi-check-circle"></i> 
 .כל שפות הסימנים - אנחנו מקשרים חירשים מקומיים עם מתורגמנים מקומיים

</li>

            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>מטרות ההשפעה החברתית שלנו</h2>
          <p>.בעזרת מדידת ההשפעה החברתית שלנו, אנחנו לומדים, מסתגלים, וגדלים</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h4 class="title"><a href="">לגשר</a></h4>
              <p class="description"> אנחנו רוצים לגשר את הפער שקיים בין חירשים ולא חירשים בעזרת האפליקציה שלנו</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <h4 class="title"><a href="">בריאות נפשית</a></h4>
              <p class="description"> .לייצב את קהילת דוברי שפת הסימנים, הכוללת 1.25% מאוכלוסיית העולם, כחלק חשוב מהקהילה העולמית הרוצה לקבל שירותים נגישים בזמן אמת בשביל שיח נגיש יותר, זמין יותר, ועצמאי יותר</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h4 class="title"><a href="">קהילה יציבה</a></h4>
              <p class="description">.לעזור לקהילה החירשת להיות קהילה גאה ויציבה, בעלת היכולת לעמוד על שתי הרגליים שלה ולתרום יותר לציבור הכולל</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>שיתופי הפעולה שלנו</h2>
        </div>

        <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-9.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-10.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-11.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-12.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-13.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-14.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-15.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-16.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>המספרים מדברים בפני עצמם</h2>
        </div>
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="static/assets/img/meta-chart.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>
בערך 90,000,000 חירשים מתחילים את החיים שלהם מאחורי השאר בגלל העובדה שרוב האנשים שאינם חירשים לא מכירים את השפה שלהם, שפת הסימנים. זה אומר שרק 1.25% מאוכלוסיית העולם יודעים ומשתמשים בשפת הסימנים</h2>

          </div>
        </div>





        </div>
  <h2> המספרים האלה לא יאומנים. לכן, פיתחנו את האפליקציה שלנו, כדי לעזור לאזן את המספרים ולהביא .שוויון לקהילה החירשת, עכשיו</h2>
      </div>
      <br><br>
  
    </section><!-- End About Section -->


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

         

      </div>
    </section><!-- End Portfolio Section -->


<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>האפליקציה שלנו</h2>
        </div>
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="static/assets/img/app.webp" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>

<br>
האפליקציה שלנו היא אפליקציה מבוססת שירות המחברת בין הקהילה החירשת ומתורגמני שפת הסימנים. אנו מציעים מגוון רחב של אפשרויות לשיחות וידאות כגון להחזיר שיחה, שיחה לפי דרישה, ושיחות לפי קביעה, הכל עם כמות קליקים מינימלית. והחלק הכי טוב - כל זה חינם לקהילה החירשת.
לאחר מחקר ארוך ויסודי, הצלחנו להבין את צרכי המתשמשים החירשים שלנו.
</h2>

          </div>
        </div>

    </section><!-- End About Section -->


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

         

      </div>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>סיפורי חיים</h2>
          <p> .חשוב לנו מאוד שלמוע את בסיפורים היקרים של המתשמשים שלנו, כדי להפוך את האפליקציה לטובה ככל האפשר. למטה תוכלו לקרוא את הסיפורים של אנשים אחרים וגם להוסיף את שלכם</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
{%for i in stories_h%}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>
                  <img src="static/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  {{stories_h[i]['text_h']}}
                  <img src="static/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </h3>

                <h4>{{stories_h[i]['name_h']}}</h4>
                <br>
                <p>{{stories_h[i]['email_h']}}</p>
              </div>
              {%endfor%}
            </div><!-- End testimonial item -->



          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= story ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">ספר לנו את הסיפור שלך</h3>
            <form action="/new_story_h" method="POST"  class="php-email-form">
                
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name_h" class="form-control" id="name" placeholder="שם" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email_h" id="email" placeholder="כתובת אימייל" required>
              </div>
            </div>

            <div class="form-group mt-3">
              <input class="form-control" name="text_h" rows="5" placeholder="סיפור" required>

               <br>
               <br>
            <input type="submit" value="שלח" >
            </div> 


             
          </form>
          </div>

        </div>
      </div>
    </section><!-- End story -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>הצוות שלנו</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-1.jpg" alt=""></div>
              <div class="details">
                <h4>תומר לוי</h4>
                <span>סמנכ"ל תפעול ראשי</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-2.jpg" alt=""></div>
              <div class="details">
                <h4>הילה אלמוג</h4>
                <span>מנכ"לית</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-3.jpg" alt=""></div>
              <div class="details">
                <h4>איבישי וייסמן</h4>
                <span>מנהל טכנולוגיה ראשי </span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-4.jpg" alt=""></div>
              <div class="details">
                <h4>אסף חזקיהו</h4>
                <span>מפתח ראשי</span>

              </div>
            </div>
          </div>
        </div>
         <div class="row">
                  <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-5.jpg" alt=""></div>
              <div class="details">
                <h4>שירלי פינקר</h4>
                <span>מנהלת פירסום</span>

              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/assets/img/team-6.jpg" alt=""></div>
              <div class="details">
                <h4>שי סודר</h4>
                <span>ראש המתורגמנים</span>

              </div>
            </div>
          </div>
        </div>



      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>צרו קשר</h2>
          <p>.עם כל משוב שאתם שולחים לנו, המוצר שלנו משתפר</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>כתובת</h3>
              <address>(SignNow Address)</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>מספר טלפון</h3>
              <p><a href="tel:+155895548855">(SignNow number)</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>כתבות אימייל</h3>
              <p><a href="mailto:info@example.com">(SignNow email)</a></p>
            </div>
          </div>

        </div>
      </div>



    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; 2022 <strong>Sign Now Tech Solutions</strong>.כל הזכויות שמורת
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
      -->

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/assets/js/main.js"></script>

</body>

</html>